@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

form h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  color: #555;
  text-align: center;
}

.form {
  width: 450px;
  height: fit-content;
  background-color: whitesmoke;
  color: black;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  position: relative;
}

.form-group label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  height: 38px;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #f5f5f5;
  color: #333;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.form-group input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}

.required {
  color: red;
  font-size: 1.1rem;
}

.error {
  color: red;
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 0.5rem;
}

.form button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #333;
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 769px) {
  .form {
    width: 90vw;
    padding: 1.5rem;
  }
}